<%- include('../partials/top.ejs') %>
    <!-- sidebar -->
    <%- include('../partials/sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('../partials/header.ejs') %>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Ana Sayfa</h1>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"
                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-plus fa-sm text-white-50"></i> Yeni İşlem Ekle</a>
                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Araç Sayısı</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= arac_sayisi %>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-car fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content Row -->

                        <div class="row">

                            <div class="container-fluid px-2">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Periyodik İşlemler Listesi</h6>
                                    </div>
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Marka</th>
                                                        <th>Plaka</th>
                                                        <th>İşlem Türü</th>
                                                        <th>Yapılacak Tarih</th>
                                                        <th>Kalan Gün</th>
                                                        <th>Kalan KM</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (let i=0; i < islemler.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= islemler[i].marka %>
                                                            </td>
                                                            <td>
                                                                <%= islemler[i].plaka %>
                                                            </td>
                                                            <td>
                                                                <%= islemler[i].OperationName %>
                                                            </td>
                                                            <td>
                                                                <%= islemler[i].yapilacak_tarih.toLocaleDateString('tr-TR')
                                                                    %>
                                                            </td>
                                                            <td>
                                                                <%= islemler[i].kalan_gun %>
                                                            </td>
                                                            <td>
                                                                <%= islemler[i].kalan_km %>
                                                            </td>
                                                            <td>
                                                                <form method="post"
                                                                    action="/delete-operation/<%= islemler[i].islem_id %>">
                                                                    <button class="btn btn-sm btn-danger">Sil</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.container-fluid -->

                        </div>


                    </div>
                    <!-- /.container-fluid -->

            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Yeni İşlem Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/add-operation" method="post">
                                <div class="mb-2">
                                    <select name="arac_id" class="form-control bg-light border-0 small">
                                        <option value="">Marka Seçiniz</option>
                                        <% for (let i=0; i < araclar.length; i++) { %>
                                            <option value="<%= araclar[i].id %>">
                                                <%= araclar[i].marka %> - <%= araclar[i].plaka %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <select onchange="handleSelectOperation(this)" name="islem_id"
                                        class="form-control bg-light border-0 small">
                                        <option value="">İşlem Türü Seçiniz</option>
                                        <% for (let i=0; i < islem_turleri.length; i++) { %>
                                            <option value="<%= islem_turleri[i].Id %>">
                                                <%= islem_turleri[i].OperationName %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="mt-2"
                                    style="display: flex; column-gap: 2px; align-items: center; margin-bottom: 0;">
                                    <label style="width: 120px;" class="mb-0">İşlem Tarih</label>
                                    <input name="yapilan_tarih" type="date"
                                        class="form-control bg-light border-0 small">
                                </div>
                                <div id="yapilacak_tarih" class="mt-2"
                                    style="display: flex; column-gap: 2px; align-items: center; margin-bottom: 0;">
                                    <label style="width: 120px;" class="mb-0">Sonraki Tarih</label>
                                    <input name="yapilacak_tarih" type="date"
                                        class="form-control bg-light border-0 small">
                                </div>
                                <div class="mt-2">
                                    <input id="sonraki_km" name="km" type="text"
                                        class="form-control bg-light border-0 small"
                                        placeholder="Sonraki işlem km Giriniz">
                                    <div class="mt-2">
                                        <input name="fiyat" type="text" class="form-control bg-light border-0 small"
                                            placeholder="Fiyat Giriniz">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-danger"
                                            data-dismiss="modal">İptal</button>
                                        <button type="submit" class="btn btn-sm btn-success">Kaydet</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
            <%- include('../partials/footer.ejs') %>